<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERN BLOG</title>

    <style>
        .container {
            background-color: white;
            border-radius: 4px;
            overflow: hidden;
        }

        .header {
            background-color: #aaa;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .body {
            padding: 10px;
            background-color: #e7e9ef;
            text-align: center;
        }

        .title {
            text-align: center;
        }

        p {
            padding-left: 32px;
            padding-right: 32px;
            text-align: center;
        }

        a.button {
            display: inline-block;
            text-decoration: none;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
            background-color: #14acc7;
            border-radius: 4px;
            color: white;
            margin-top: 20px;
            margin-botom: 20px;
        }

        p.link {
            display: inline-block;
            margin-top: 20px;
        }

        .note {
            margin-top: 20px;
            font-size: small;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h3>MERN BLOG</h3>
        </div>
        <div class="body">
            <h2 class="title">Password Reset</h2>
            <p>
                If you've lost your password or wish reset it, use the link below to get started
            </p>
            <a href={{ url }} class="button">Reset Your Password</a>
            <p class="link">{{ url }}</p>
            <p class="note">
                If You didn't receive this, you can ignore this email or let us know. Your password won't change until
                you create new password.
            </p>
        </div>
    </div>
</body>

</html>